[submodule "LibAFL"]
	path = LibAFL
	url = https://github.com/dakshinatharindu/LibAFL.git
[submodule "wolfBoot"]
	path = wolfBoot
	url = https://github.com/dakshinatharindu/wolfBoot.git
[submodule "wolfMQTT"]
	path = wolfMQTT
	url = https://github.com/wolfSSL/wolfMQTT.git
